html, body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #2d3c49;
}

.container {
  display: block;
}

header {
  max-width: 90%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 4px solid #7d97ad;
  justify-content: center;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

logo img {
  max-width: 160px;
  max-height: 160px;
}

h1, h3 {
  text-align: center;
  text-transform: uppercase;
}

main {
  display: block;
  box-sizing: border-box;
  margin: auto;
  max-width: 90%;
  justify-content: center;
}

p{
  text-align: justify;
}

h4 {
  color: #7d97ad;
  margin-top: 60px;
}

div.featured {
  width: 100%;
  justify-content: center;
}

.second-section {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

h6 {
  text-transform: lowercase;
}

a {
  color: #2d3c49;
  text-decoration: none;
}

section img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

footer {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  border-top: 3px solid #7d97ad;
  font-size: 0.8em;
}

footer p {
  text-align: center;
}

@media screen and (min-width: 600px) {
  div.featured {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h1, h3 {
    text-align: right;
  }

  p {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
