#deck {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 550px;
  max-width: 1050px;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #ffc300, #ff5733, #c70039, #900c3f, #581845);
    /* DarkSeaGreen, MediumTurquoise, DodgerBlue); */
  padding: 40px 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px -5px #a3a1a3;
}

h1 {
  font-family: 'Barriecito', cursive;
  text-align: center;
  font-size: 3em;
  /* background: -webkit-linear-gradient(#eee, #333); */
  background-image: linear-gradient(#c70039, #ffc300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 550px;
  max-width: 1000px;
  justify-content: space-around;
  font-size: 1.2em;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #525353;
}

button {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1em;
}

.card{
  background-color: transparent;
  height: 100px;
  width: 20%;
  background-color: white;
  color: black;
  margin: 10px;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
  border-radius: 10px;
}

.not-played{
  border: 3px solid #525353;
  background: #525353;

}

.not-played .svg-inline--fa{
  visibility: hidden;
}

.played{
  border: 3px solid white;
  visibility: visible;
}

.ingame{
  border: 3px solid white;
  visibility: visible;
}

.wrong-pair{
  border: 3px solid #fd08ed;
}

i {
  height: 50px;
  width: 50px;
}
