#deck {
  display: flex;
  flex-wrap: wrap;
}

.card{
  background-color: transparent;
  height: 100px;
  width: 150px;
  background-color: white;
  color: black;
  margin: 10px;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
}

.not-played{
  border: 3px solid blue;
}

.played{
  border: 3px solid green;
}

.ingame{
  border: 3px solid yellow;
}

i {
  height: 50px;
  width: 50px;
}
