#deck {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 550px;
  max-width: 1000px;
  justify-content: center;
  background-image: linear-gradient(to bottom right, DarkSeaGreen, MediumTurquoise, DodgerBlue);
  padding: 40px 0px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 550px;
  max-width: 1000px;
  justify-content: space-around;
  font-size: 1.5em;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.2em;
}

.card{
  background-color: transparent;
  height: 100px;
  width: 20%;
  background-color: white;
  color: black;
  margin: 10px;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
  border-radius: 10px;
}

.not-played{
  border: 3px solid lightblue;
  background: lightblue;

}

.not-played .svg-inline--fa{
  visibility: hidden;
}

.played{
  border: 3px solid white;
  visibility: visible;
}

.ingame{
  border: 3px solid greenyellow;
  visibility: visible;
}

.wrong-pair{
  border: 3px solid indianred;
}

i {
  height: 50px;
  width: 50px;
}
